@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Josefin Sans'; 
}

#desktop {
    font-size: 16px;

    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#coming {
    background-image: url(bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 60%;
    height:100vh;
}

#image {
    background-image: url(hero-desktop.jpg);
    background-repeat: no-repeat;
    width: 40%;
    height:100vh;
    background-size: cover;

    
}

#logo {
    margin-top: 50px;
    margin-left: 20%
}

#we {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 10px;
    margin-top: 100px;
    margin-left: 20%;
    color: hsl(0, 36%, 70%)
}

#soon {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-left: 20%;
    color: hsl(0, 6%, 24%);
    margin-right: 300px
}

#info {
    color: hsl(0, 36%, 70%);
    margin-left: 20%;
    margin-right: 36%;
    margin-top: 30px;
    margin-bottom: 50px
}

#sign-up {
    display: flex;
    flex-direction: column;
}

#email {
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    margin-right: 36%;
    flex-wrap: wrap;
}

input {
    border-radius: 30px;
    border: 1px solid hsl(0, 36%, 70%);
    min-width: 300px;
    height: 40px;
    padding: 10px;
    color: hsl(0, 36%, 70%);
    box-sizing: border-box;
}

input:invalid {
    border: 2px solid hsl(0, 93%, 68%)
    
}

.error-message {
    display: none;
    color: hsl(0, 93%, 68%);
    margin: 10px;
  }

.error-icon {
    display: none;
    color: hsl(0, 93%, 68%);
    margin-left: 200px;
    margin-top: 8px;
    height: 24px;
    width: 24px;
    position: absolute
  }



button {
    min-width: 70px;
    height: 40px;
    padding-left: 30px;
    padding-top: 10px;
    margin-left: 250px;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 40px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    position: absolute
}

button:hover {
    box-shadow: 0 10px 10px hsla(0, 6%, 24%, 0.3);;
    background: hsl(0, 80%, 86%)

}

input:invalid ~ .error-message {
    display: block !important; 
  }

input:invalid ~ .error-icon {
    display: block !important; 
  } 

#mobile {
    display: none; 
  } 

@media only screen and (max-width: 900px) {
    #desktop {
        display: none 
      } 

      #coming {
        background-image: none;
      }

      #mobile {
        display: flex; 
        flex-direction: column;
        margin: auto;
        width: 375px
      } 

      #image {
        background-image: url(hero-mobile.jpg);
        background-repeat: no-repeat;
        width: 375px;
        height:250px;
        background-size: cover;
    
        
    }
    
    #logo {
        margin-bottom: 20px;
        margin-left: 20px
    }
    
    #we {
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 10px;
        margin: auto auto;
        width: 375px;
        color: hsl(0, 36%, 70%);
        text-align: center;
        padding-top: 50px;
    }
    
    #soon {
        font-size: 50px;
        width: 375px;
        margin: auto auto;
        text-align: center;
    }
    
    #info {
        width: 350px;
        margin: auto auto;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    #email {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 350px;
        margin: auto;
    }

    .error-message {
        display: none;
        color: hsl(0, 93%, 68%);
        margin: 10px;
      }
    
    .error-icon {
        display: none;
        color: hsl(0, 93%, 68%);
        margin-left: 130px;
        margin-top: -35px;
        height: 24px;
        width: 24px;
        position: absolute
      }
    
    
    
    button {
        padding-left: 30px;
        padding-top: 0px;
        margin-left: 250px;
        padding-bottom: 0px;
        margin-top: -41px;
        position: relative
    }

}